.label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 8.1875rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: #FFFFFF;
    background: url(Subtract.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.label::before {
    height: inherit;
    width: 1.125rem;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-image: url(Group.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.label:hover::before {
    display: block;
}
.alone__label{
    background: url(substract-medium.svg);
    width: 12.625rem;
    margin-bottom: 2.625rem;
}
.label__large {
    background: url(substract-large.png);
    max-width: 23.625rem;
    width: 100%;
    text-align: center;
}
