
.icon-rectangle-part:before { content: '\e803'; } /* '' */
.icon-calc:before { content: '\e804'; } /* '' */
.icon-pyb:before { content: '\e805'; } /* '' */
.icon-bigprodaji:before { content: '\e806'; } /* '' */
.icon-grafik:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-vector:before { content: '\e809'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */